<html>
<head>
    <title>@ViewData["Title"] - Minha App Modelo</title>
    <environment include="Development">
        <link href="~/css/site.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/Bootstrap/css/bootstrap.css" />
    </environment>
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />

    <environment excuide="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              app-fallback-href="~/lib/bootstrap/css/bootstrap.css"
              app-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous" />
        @*integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYCHqibrV7PBE="*@
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="index">AppModelo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" arial-control="navbarSupportedContent"
                        arial-expanded="false" arial-label="Toggle Navivation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Produtos" asp-controller="Cadastro" asp-action="Index">Cadastro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Vendas" asp-controller="Pedidos" asp-action="Index">Pedidos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            Minha App Modelo - <email email-domain="gmail.com">contato</email>
            Minha App Modelo - <email>suporte</email>
            <a>sdsdw</a>

        </div>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/Bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment excuide="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                app-fallback-src="~lib/jquery/jquert.min.js"
                app-fallback-test-class="window.jQuert && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"></script>
        <script src="~/lib/Bootstrap/js/bootstrap.js"></script>
        <script src="~/js/site.js"></script>
        @*integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYCHqibrV7PBE="*@
    </environment>
</body>
</html>